@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
$light-primary: #fff;
$light-secondary: #e1e1e1;
$dark-primary: #0c0c0c;
$dark-secondary: #393e46;
$pink-primary: #ff97b8;
$pink-secondary: #ffd880;
$blue: #0061a8;
$grey: #d8e3e7;

#app.theme-light{
    background: $light-primary;
    color: $dark-primary;

    a{
        color: $grey;
        cursor: pointer;
        text-decoration: none;
    }
    a:hover{
        color: $blue;
    }
    a.active{
        color: $blue;
    }
}

#app.theme-dark{
    background: $dark-primary;
    color: $light-secondary;
    a{
        color: $grey;
        cursor: pointer;
        text-decoration: none;
    }
    a:hover{
        color: $blue;
    }
    a.active{
        color: $blue;
    }
}
#app.theme-pink{
    background: $pink-primary;
    color: $dark-primary;
    a{
        color: $grey;
        cursor: pointer;
        text-decoration: none;
    }
    a:hover{
        color: $dark-primary;
    }
    a.active{
        color: $dark-primary;
    }
}